spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/proyecto-usei
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: pruebasu123@gmail.com
    password: xwnt rmyr axpb bmat
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8082  # Cambia 8081 por el puerto que desees utilizar, puede ser 8081, 9000, etc.

servlet:
  multipart:
    max-file-size: 100MB
    max-request-size: 100MB
